.transition-enter-active,
.transition-leave-active {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.transition-enter,
.transition-leave {
    opacity: 0;
    filter: Alpha(opcity=0);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
}




.item-move, .item-enter-active, .item-leave-active{
    transition: all .5s cubic-bezier(.55,0,.1,1);
}

.item-enter{
    opacity: 0;
    transform: translate(30px, 0);
}

.item-leave-active{
    position: absolute;
    opacity: 0;
    transform: translate(30px, 0);
}

.slide-left-enter, .slide-right-leave-active{
    opacity: 0;
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter{
    opacity: 0;
    transform: translate(-30px, 0);
}

.fade-enter-active, .fade-leave-active{
    transition: all .2s ease;
}

.fade-enter, .fade-leave-active{
    opacity: 0;
}
