html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #e1e1e1;
  font-size: 14px;
}

#main{
  width: 90%;
  max-width: 1400px;
  margin: 15px auto;
  min-height: 400px;
}

.type {
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    float: left;
    &.hasColor {
        background-color: #80bd01;
    }
    &.hidden {
        display: none;
    }
    &.noColor {
        background-color: #e5e5e5;
        color: #999;
    }
}
